<p>{{ _('STARS4ALL is an integrated platform to support all activities and stakeholders in the context of the Light Pollution Initiatives.') }}</p>
<ul>
  <li>{{ _('Light Pollution Initiative creation') }}</li>
  <li>{{ _('Citizen Action proposal') }}</li>
  <li>{{ _('Citizen Action funding') }}</li>
  <li>{{ _('Citizen Action design') }}</li>
  <li>{{ _('Data acquisition') }}</li>
  <li>{{ _('Data management') }}</li>
  <li>{{ _('Data sharing') }}</li>
  <li>{{ _('Publication & Actions') }}</li>
</ul>


